body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron{
	background-color: rgba(138, 127, 187, 0.8);
	color: rgba(255,255,255,1);
	font-family: "Roboto-Light";
	text-align: center;
}
.jumbotron h1{
	font-size: 2.9em;
	
}